/* Stylemall för desktop */
#container
{
	font-family: "Times New Roman", Times, serif;  /* Typsnittlista på vilka typsnitt webbläsare ska använda */
}
#logo
{
	margin: auto; /* Flytta logodelen till mitten av sidan*/
	width: 20%;  /* Gör logodelen ha bredd 20% */
}
#search
{
	position: absolute; 
	left: 87%;  /* Flytta sökdelen till vänster 87% */
}
#sidlogo
{
	margin-left: 0px;  /* Flytta logosbilden lite till vänster */
}
#chooserang
{
	float: left; /* Flytta menyen till vänster */
}
#rang
{
	float: left; /* Flytta menyen till vänster */
}
#menu
{
	display: none; /* Visa inte länkarsmenyen */
}
#mainnav
{
	text-align: center; /* Flytta länkarslistan till mitten */
}
#mainnav a
{
	background-color: black;  /* Gör bakgrund av länkar till svart */
	border: 1px solid black; /* Skapa en border(box) */
	color: white; /* Gör textfärg till vit */
	border-radius: 10px; /* Skapa runda hörn runt länkarna */
	padding: 6px; /* Lägg avstånd mellan länkarna 6px */
}
a
{
	text-decoration: none; /* Ta bort understrykningen av länkarna */ 
}

footer
{
	background-color: #1a0000; /* Gör sidfoten till vit */
	color: white; /* Gör textfärg till vit */
	text-align: center; /* Flytta texten till mitten */
	height: 30%; /* Gör höjden av texten till 30% */
	position: relative;
	bottom: 20px; /* Flytta sidfot 20px till upp */
}
#main
{
	background-color: lightblue; /* Gör bakgrundsfärg till lättblå */
	text-align: center; /* Flytta texten till vänster */
	font-size: 20px; /* Gör textstorlek till 20px */
}
h1
{
	color: red; /* Gör h1 rubriker till röd */
}
#abouttxt
{
	width: 20%; /* Gör omtexten ha bredd 20% */
	margin: 0px auto; /* Flytta texten till mitten */
	font-size: 20px; /* Gör textstorlek till 20px */
}


#pricetable table, th, tr, td
{
	border: 1px solid black; /* Skapa en border(box) i tabellen */
	border-collapse: collapse; /* Gör att tabellgränserna ska kollapsa till en enda gräns i tabellen. */
}
#pricetable
{
	margin: 0 auto; /* Flytta pristabell till mitten */
}

#firsttxt, #mailtxt
{
	width: 99%; /* Gör bredden för namn- och mejlsfältet till 99% */
}
#mailtxt
{
	width: 99%; /* Gör bredden mejlsfältet till 99% */
}
#nametext
{
	width: 99%; /* Gör bredden för namnfältet till 99% */
}
#formtable
{
	margin: 0 auto; /* Flytta tävlingstabell till mitten */
}
#contacttable
{
	margin: 0 auto; /* Flytta kontakttabell till mitten */
}

.hidden
{
	float: right; /* Flytta nämnda celler i tabellen till höger */ 
	border-right: none; /* Ta bort högre hörnet */
	border-left: none; /* Ta bort vänstra hörnet */
	border-bottom: none; /* Ta bort botten hörnet */
	border-top: none; /* Ta bort toppen hörnet */
}


#mail
{
	width: 99%; /* Gör bredden för mejlfältet till 99% */
}
.hid2
{
	border-right: none; /* Ta bort högre hörnet */
	border-left: none; /* Ta bort vänstra hörnet */
	border-bottom: none; /* Ta bort botten hörnet */
	border-top: none; /* Ta bort toppen hörnet */
	margin: 0px auto; /* Flytta nämnda celler i tabellen till mitten */ 
}
