@charset "UTF-8";
/* Styles created by Fadi Hanna */
#container {
  font-family: "Times New Roman", times, serif;
  /* Typsnittlista på vilka typsnitt webbläsare ska använda */
  margin: 10px;
  transition: 0.3s;
}

label {
  padding: 10px 15px;
}

textarea :focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #0275d8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #add8e6;
  outline: 0 none;
  transition: 0.3s;
}

.mysearchform {
  padding: 10px;
  transition: 0.3s;
}

.main {
  font-size: 20px;
  /* Gör textstorlek till 20px */
  background-color: #5bc0de;
  margin: 10px;
  text-align: center;
  transition: 0.3s;
}

select {
  border: 1px solid #0275d8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  transition: 0.3s;
}

textarea {
  border: 1px solid #0275d8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  transition: 0.3s all;
}

input {
  display: block;
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  transition: 0.3s;
}

button {
  color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.3s;
}

.myform {
  padding: 10px;
  transition: 0.3s;
}

@media screen and (min-width: 900px) and (max-width: 1900px) {
  .myform {
    margin: 0 auto;
  }
  .myform .row {
    width: 50%;
    margin: 0 auto;
  }

  #srch {
    width: 180%;
    /* Gör bredden av sökfältet till 180% */
    border-radius: 0;
    /* Ta bort sökfältets runda hörn */
  }

  #srchbtn {
    border-radius: 0;
    /* Ta bort sökknappens runda hörn */
  }
}
.myheading {
  font-size: 35px;
  color: #3a1627;
  font-style: italic;
  transition: 0.3s all;
}

a {
  text-decoration: none;
}

.footerlink {
  color: #fff;
  text-decoration: none;
}

.line {
  margin: 10px;
  transition: 0.3s;
}

.mytable {
  display: -webkit-box;
  display: -ms-flex;
  display: flex;
  transition: 0.3s;
}

.txt {
  width: 100%;
  transition: 0.3s;
}

.competitionPriceList li {
  list-style-type: disc;
  list-style-position: inside;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  transition: 0.3s;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition: 0.3s;
}

footer {
  background-color: #1a0000;
  /* Gör sidfoten till vit */
  height: 30%;
  /* Gör höjden av texten till 30% */
  color: #f7f7f7;
  margin: 10px;
  text-align: center;
  padding: 10px;
  transition: 0.3s;
}

.mylogo {
  display: -webkit-box;
  display: -ms-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px;
  transition: 0.3s;
}

.logobild {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  transition: 0.3s;
}

@media screen and (min-width: 900px) and (max-width: 1900px) {
  .mylogo {
    margin: 0 auto;
    height: 30%;
    width: 30%;
  }
}
@media screen and (max-width: 1900px) {
  .logobild {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .mylogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
#mainnav {
  display: -webkit-box;
  display: -ms-flex;
  display: flex;
  margin: 10px;
  background: #f7f7f7;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s all;
}
#mainnav a {
  border-radius: 10px;
  /* Skapa runda hörn runt länkarna */
  padding: 6px;
  /* Lägg avstånd mellan länkarna 6px */
  background: #292b2c;
  border: 1px solid #292b2c;
  color: #f7f7f7;
  text-decoration: none;
  margin: 5px;
  white-space: nowrap;
  transition: 0.3s all;
}

@media screen and (max-width: 1900px) {
  #mainnav li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
.labelCol {
  width: 500px;
  margin-bottom: 15px;
  transition: 0.3s all;
  display: inline-block;
}

.formFieldCol {
  width: 500px;
  margin-bottom: 15px;
  transition: 0.3s all;
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flex;
  display: flex;
  margin: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: 0.3s all;
}

@media screen and (max-width: 1200px) {
  h1,
  img {
    width: 100%;
  }

  #container {
    font-family: "Times New Roman", times, serif;
    /* Typsnittlista på vilka typsnitt webbläsare ska använda */
  }

  .labelCol,
  .formFieldCol {
    width: 100%;
  }

  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
#abouttxt {
  font-size: 20px;
  /* Gör textstorlek till 20px */
  margin: 10px;
  transition: 0.3s all;
}

#pricetable {
  margin: 0 auto;
  /* Flytta pristabell till mitten */
  margin-bottom: 10px;
  width: 98%;
  padding: 10px;
  transition: 0.3s;
}
#pricetable table,
#pricetable th,
#pricetable tr,
#pricetable td {
  border: 1px solid #292b2c;
  border-collapse: collapse;
  /* Gör att tabellgränserna ska kollapsa till en enda gräns i tabellen. */
  transition: 0.3s;
}
#pricetable td:hover {
  background: #292b2c;
  color: #fff;
  transition: 0.3s all;
}
#pricetable thead {
  border: 1px solid #292b2c;
  background: #292b2c;
  color: #fff;
  transition: 0.3s;
}
