@charset "UTF-8";

/* Styles created by Fadi Hanna */
#container {
  /* Font list of which fonts browsers should use */
  font-family: "Times New Roman", times, serif;
  margin: 10px;
  display: none;
  transition: all 0.3s;
}

#mobile_navmenu {
  display: none;
  width: 100%;
}

#pageLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  font-size: 48px;
  color: #fff;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}

.loader::after {
  content: "Loading";
  position: relative;
  z-index: 5;
}

.loader::before {
  content: "";
  height: 6px;
  border: 1px solid;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(#ff3d00 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 10s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}

label {
  padding: 10px 15px;
}

select {
  border: 1px solid #0275d8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

textarea {
  border: 1px solid #0275d8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  display: block;
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
}

input[type="submit"] {
  color: #000;
  margin-bottom: 10px;
  padding: 10px;
}

textarea :focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #0275d8;
  box-shadow:
    0 1px 1px rgb(0 0 0 7.5%) inset,
    0 0 8px #add8e6;
  outline: 0 none;
}

.main {
  /* Make text size 20px */
  font-size: 20px;
  background-color: #5bc0de;
  margin: 10px;
  text-align: center;
}

.myform {
  padding: 10px;
}

@media screen and (min-width: 900px) and (max-width: 1900px) {
  .myform {
    margin: 0 auto;
  }

  .myform .row {
    width: 50%;
    margin: 0 auto;
  }

  #srch {
    /* Make the width of the search bar 180% */
    width: 180%;

    /* Remove the round corner of the search bar */
    border-radius: 0;
  }

  #srchbtn {
    /* Remove round corner search button */
    border-radius: 0;
  }
}

.myheading {
  font-size: 35px;
  color: #3a1627;
  font-style: italic;
}

a {
  text-decoration: none;
}

.footerlink {
  color: #fff;
  text-decoration: none;
}

.line {
  margin: 10px;
}

.txt {
  width: 100%;
}

.competition-price-list li {
  list-style-type: disc;
  list-style-position: inside;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

footer {
  /* Make the footer white */
  background-color: #1a0000;

  /* Make the height of the text 30% */
  height: 30%;
  color: #f7f7f7;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.mylogo {
  display: -webkit-box;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.logobild {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) and (max-width: 1900px) {
  .mylogo {
    margin: 0 auto;
    height: 30%;
    width: 40%;
  }
}

@media screen and (max-width: 1900px) {
  .logobild {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .mylogo {
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}

#mainnav {
  width: 100%;
  place-self: center;
  margin: 10px;
  background: #f7f7f7;
  text-align: center;
}

#mainnav li {
  display: inline-block;
}

#mainnav a {
  /* Create rounded corners around the links */
  border-radius: 10px;

  /* Add distance between links 6px */
  padding: 6px;
  background: #292b2c;
  border: 1px solid #292b2c;
  color: #f7f7f7;
  text-decoration: none;
  margin: 50px;
  white-space: nowrap;
}

@media screen and (max-width: 1900px) {
  #mainnav li {
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 844px) {
  #mainnav {
    flex-direction: column;
  }

  .main {
    padding: 10px;
  }
}

.label-col {
  width: 500px;
  margin-bottom: 15px;
  display: inline-block;
}

.form-field-col {
  width: 500px;
  margin-bottom: 15px;
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flex;
  display: flex;
  margin: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  h1,
  img {
    width: 100%;
  }

  #container {
    /* Font list of which fonts browsers should use */
    font-family: "Times New Roman", times, serif;
  }

  .label-col,
  .form-field-col {
    width: 100%;
  }

  .row {
    -webkit-box-orient: vertical;
    flex-direction: column;
  }
}

#abouttxt {
  /* Make text size 20px */
  font-size: 20px;
  margin: 10px;
}

#pricetable {
  /* Move price table to center */
  margin: 0 auto;
  margin-bottom: 10px;
  width: 98%;
  padding: 10px;
}

#pricetable table,
#pricetable th,
#pricetable tr,
#pricetable td {
  border: 1px solid #292b2c;

  /* Make the table borders collapse to a single border in the table. */
  border-collapse: collapse;
}

#pricetable td:hover {
  background: #292b2c;
  color: #fff;
}

#pricetable thead {
  border: 1px solid #292b2c;
  background: #292b2c;
  color: #fff;
}

.topbar {
  display: flex;
  background: #f7f7f7;
}

.srchform {
  margin: 10px;
}

@media (max-width: 1020px) {
  .topbar {
    flex-direction: column;
  }

  #mainnav li a {
    display: block;
    margin: 0 0 10px;
  }
}

@media (min-width: 820px) and (max-width: 1020px) {
  #mainnav li a {
    display: block;
    margin: 35px;
  }

  .srchform {
    margin: 0 auto;
    width: 50%;
  }
}

@media (max-width: 1020px) {
  #mobile_navmenu {
    display: block;
    margin: 10px;
    width: 95%;
  }

  #mainnav {
    display: none;
  }
}
