// Variables
$box: border-box;
$none: none;
$font: "Times New Roman", Times, serif;
$solidbrd: solid;
$insetbrd: inset;
$webbox: -webkit-box;
$msflex: -ms-flex;
$flex: flex;
$cntr: center;
$auto: auto;
$vertical: vertical;
$normal: normal;
$col: column;

// Selectors
$selectorMap: (
  global: "*",
  txtArea: "textarea",
  body: "body",
  input: "input",
  img: "img",
  link: "a",
  h1: "h1",
  table: "table",
  td: "td",
  th: "th",
  thead: "thead",
  tr: "tr",
  select: "select",
  button: "button",
  footer: "footer",
  wrapper: "#container",
  mainNav: "#mainnav",
  srch: "#srch",
  mySearchForm: ".mysearchform",
  srchBtn: "#srchbtn",
  line: ".line",
  uneditableInput: ".uneditable-input",
  myLogo: ".mylogo",
  myHeading: ".myheading",
  main: ".main",
  row: ".row",
  col25: ".col-25",
  sendBtn: ".sendbtn",
  myForm: ".myform",
  txt: ".txt",
  aboutTxt: ".abouttxt",
  priceTable: "#pricetable",
  myTable: ".mytable",
  logoBild: ".logobild",
);

$colors: (
  lightBlue: #add8e6,
  white: #fff,
);

// Functions
@function color($val) {
  @return map-get($colors, $val);
}

@function selector($slc) {
  @return map-get($selectorMap, $slc);
}
