#{map-get($selectorMap, mainNav)} {
  display: $webbox;
  display: $msflex;
  display: $flex;
  margin: $ten;
  background: #f7f7f7;
  -webkit-box-pack: $cntr;
  -ms-flex-pack: $cntr;
  justify-content: $cntr;
  text-align: $cntr;
  a {
    border-radius: $ten; /* Skapa runda hörn runt länkarna */
    padding: $sixpx; /* Lägg avstånd mellan länkarna 6px */
    background: #292b2c;
    border: $onepx $solidbrd #292b2c;
    color: #f7f7f7;
    text-decoration: $none;
    margin: $fivepx;
  }
}

@media screen and (max-width: 1900px) {
  #{map-get($selectorMap, mainNav)} {
    -webkit-box-orient: $vertical;
    -webkit-box-direction: $normal;
    -ms-flex-direction: $col;
    flex-direction: $col;
  }
}
