#{map-get($selectorMap, footer)} {
  background-color: #1a0000; /* Gör sidfoten till vit */
  height: 30%; /* Gör höjden av texten till 30% */
  color: #f7f7f7;
  margin: 10px;
  text-align: $cntr;
  padding: 10px;
  transition: 0.3s;
}
