#{selector(col25)} {
  width: 25%;
  margin-bottom: 10px;
  transition: 0.3s;
}

#{selector(row)} {
  display: $webbox;
  display: $msflex;
  display: $flex;
  margin: 10px;
  -webkit-box-pack: $cntr;
  -ms-flex-pack: $cntr;
  justify-content: $cntr;
  margin-bottom: 10px;
  transition: 0.3s;
}

@media screen and (max-width: 1900px) {
  #{selector(h1)},
  #{selector(img)} {
    width: 100%;
  }

  #{selector(wrapper)} {
    font-family: $font; /* Typsnittlista på vilka typsnitt webbläsare ska använda */
  }

  #{selector(col25)} {
    width: 100%;
  }

  #{selector(row)} {
    -webkit-box-orient: $vertical;
    -webkit-box-direction: $normal;
    -ms-flex-direction: $col;
    flex-direction: $col;
  }
}
