#{selector(txtArea)} :focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #0275d8;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) $insetbrd,
    0 0 8px color(lightBlue);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) $insetbrd, 0 0 8px color(lightBlue);
  outline: 0 $none;
  transition: 0.3s;
}

#{selector(mySearchForm)} {
  padding: 10px;
  transition: 0.3s;
}

#{selector(main)} {
  font-size: 20px; /* Gör textstorlek till 20px */
  background-color: #5bc0de;
  margin: 10px;
  text-align: $cntr;
  transition: 0.3s;
}

#{selector(select)} {
  border: 1px $solidbrd #0275d8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  transition: 0.3s;
}

#{selector(txtArea)} {
  border: 1px $solidbrd #0275d8;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
  transition: 0.3s;
}

#{selector(sendBtn)} {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  transition: 0.3s;
}

#{selector(input)} {
  display: block;
  width: 100%;
  min-height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: color(white);
  background-clip: padding-box;
  border: 1px $solidbrd #ced4da;
  -webkit-appearance: $none;
  -moz-appearance: $none;
  appearance: $none;
  transition: 0.3s;
}

#{selector(button)} {
  color: color(white);
  background-color: #28a745;
  border-color: #28a745;
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.3s;
}

#{selector(myForm)} {
  padding: 10px;
  transition: 0.3s;
}

@media screen and (min-width: 900px) and (max-width: 1900px) {
  #{selector(myForm)} {
    margin: 0 $auto;
  }

  #{selector(myForm)} {
    #{selector(row)} {
      width: 50%;
      margin: 0 $auto;
    }
  }

  #{selector(srch)} {
    width: 180%; /* Gör bredden av sökfältet till 180% */
    border-radius: 0; /* Ta bort sökfältets runda hörn */
  }

  #{selector(srchBtn)} {
    border-radius: 0; /* Ta bort sökknappens runda hörn */
  }
}
